@-webkit-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@-moz-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@-o-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

#blurry-text {
  color: #ffffff;
  font-family: monospace;
  -webkit-animation: blur 1s 3s;
  -moz-animation: blur 1s 3s;
  -o-animation: blur 1s 3s;
  animation: blur 1s 3s; }
