@-webkit-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@-moz-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@-o-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

#blurry-text {
  color: #ffffff;
  font-family: monospace;
  -webkit-animation: blur 1s 3s;
  -moz-animation: blur 1s 3s;
  -o-animation: blur 1s 3s;
  animation: blur 1s 3s; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#blinking-cursor {
  font-size: 150%;
  font-family: monospace;
  color: #00ff00;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

#app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000; }

.user-name {
  font-size: 125%;
  color: #00ff00;
  font: monospace; }

.user-text {
  font-size: 125%;
  color: #ffffff;
  font: monospace; }

#timed-text {
  font-size: 125%;
  color: #00ff00;
  font: monospace; }
