#app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000; }

.user-name {
  color: #ffffff;
  font: monospace; }

.user-text {
  color: #ffffff;
  font: monospace; }

@-webkit-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 125, 125, 0.5); } }

@-moz-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@-o-keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

@keyframes blur {
  0%, 100% {
    color: #ffffff;
    font-family: monospace; }
  50% {
    color: transparent;
    text-shadow: 0 0 5px white; } }

#blurry-text {
  color: #ffffff;
  font-family: monospace;
  -webkit-animation: blur 1s 3s;
  -moz-animation: blur 1s 3s;
  -o-animation: blur 1s 3s;
  animation: blur 1s 3s; }
