body {
  background-color: #000000; }

p {
  font-family: monospace;
  color: #ffffff; }

.blur {
  color: transparent;
  text-shadow: 0 0 5px white; }

h1 {
  font-family: monospace;
  font-size: 40px;
  color: #ffffff; }
