@import 'modules/config';
@import 'modules/blur';

#app {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $color-app-background;
}

.user-name {
	color: $color-command-line-user-name;
	font: $font-command-line-user-name;
}

.user-text {
	color: $color-command-line-user-text;
	font: $font-command-line-user-text;
}