doctype html
html(lang='en')
  head
    script(src='css/normalize.css')
    link(href='css/index.css', rel='stylesheet')
    title= pageTitle
  body
    div(id='app')
      div(class='line')
        span(class='user-name') root@root:~$ 
        span(class='user-text') Hello
    div(id='footer')
    script(src='/js/index.js')