doctype html
html(lang="en")
  head
    script(src='css/normalize.css')
    link(href='css/index.css', rel='stylesheet')
    title= pageTitle
  body
    h1 Welcome
    p.
      abc
    script(src='/js/index.js')