doctype html
html(lang='en')
  head
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/index.css', rel='stylesheet')
    title= pageTitle
  body
    div(id='app')
      div(class='line', id="blurry-text")
        span(class='user-name') -reify@root:~$ 
        span(class='user-text', id='user-text-active')  
        span(id='blinking-cursor') █
    div(id='footer')
    script(src='js/typing.js')
    script(src='js/index.js')
    script(src='js/time.js')