@import 'config';

@-webkit-keyframes blink 
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink 
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink 
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@keyframes blink 
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


#blinking-cursor
{
    font-size: 150%;
    font-family: $font-command-line-user-name;
    color: $color-command-line-green;
	-webkit-animation: blink 0.7s infinite;
    -moz-animation:    blink 0.7s infinite;
	-o-animation:      blink 0.7s infinite;
    animation:         blink 0.7s infinite;
}
