$color-app-background: #000000;

$color-command-line-user-name: #ffffff;
$color-command-line-user-text: #ffffff;
$color-command-line-green: #00ff00;
$color-command-line-pink: #aa0088;
$color-command-line-sea-green: #0099bb;
$color-command-line-dark-blue: #0000dd;

$blur-color: rgba(255,255,255,2);

$font-command-line-user-name: monospace;
$font-command-line-user-text: monospace;